
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
.contaienr {
    width: 400px;
    height: 300px;
    background: #F8F8F8;
  }

.row1{
    display:flex;
    justify-content:space-between;
    padding: 20px 30px;
  }

.pujur {
    width:40px;
    height:50px;
    background-color:#787885;
    display:flex;  
  }

.row2 {
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 20px;
    }

.erkar {
      height:10px;
      width: 400px;
      background-color:#787885;
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      gap: 5px;
        
    }

.row3 {
display: flex;
   
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.aj {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
padding: 10px;

}

.dzax {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
padding: 10px;

}

.mijin {
background-color:#787885;
height: 10px;
width: 60px;
display: flex;
border: 1px solid black;
justify-content: center;
align-items: center;
gap: 10px;
}

.mejtex {
    background-color:#787885;
    width: 150px;
    aspect-ratio: 1/1; 
}
   



