  * {margin: 0;
     padding:0;
     box-sizing:border-box;
    }
  .container {
  width: 400px;
    height: 300px;
    background: #FDFFE9;
    position:relative;
        display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
  }
.grid {
  display:grid;
    grid-template-columns:repeat(3, 1fr);

}
  .klor {
    width:150px;
    aspect-ratio:1/1;
    background-color:#D95362;
    border-radius:50%;
  }

  .kapuyt {
    background-color:#2D3464;
  }

  .qarakusi {
    width:150px;
    aspect-ratio:1/1;
    background-color:#D95362;
  }
  .band {
    width:300px;
    aspect-ratio:1/1;
    border:20px solid #FDFFE9;
    position:absolute;
    left:50px;
  }