* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: #62374e;
}

.container {
  width: 400px;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.square {
  width: 15%;
  aspect-ratio: 1 / 1;
  border: 0px solid #000;
  position: absolute;
  background-color: #fdc57b;
}
.s1 {
  top: 25%;
  left: 25%;

}
.s2 {
  top: 25%;
  right: 25%;

}
.s3 {
  bottom: 25%;
  right: 25%;

}
.s4 {
  bottom: 25%;
  left: 25%;
}