.container {
    border: 1px solid;
    width: 100%;
    height: 100%;
}

#circle1 {
    box-sizing: border-box;
    position: absolute;
    top: 1%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 0;
    background-color: red;
}
#circle2 {
    position: absolute;
    box-sizing: border-box;
    left: 47.5%;
    top: 1%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
    margin: left 0;
    background-color: red;
}

#circle3 {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: red;
}

#circle4 {
    box-sizing: border-box;
    position: absolute;
    left: 47%;
    top: 37%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: red;
    
}

#circle5 {
    box-sizing: border-box;
    position: absolute;
    left: 25%;
    top: 15.5%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
}
/* 
#circle6 {
    position: absolute;
    top: 1%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 0;
    background-color:white ;
}
#circle7 {
    position: absolute;
    left: 47%;
    top: 1%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
    margin-left:;
    background-color:white;
}

#circle8 {
    position: absolute;
    top: 30.5%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
    
    background-color:white;
}

#circle9 {
    box-sizing: border-box;
    position: absolute;
    left: 47%;
    top: 30.5%;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;} */